body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;
}
.header{
    background-image: url(images/header-bg.png);
}
.highlight{
    color:crimson;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.half-width{
    width: 40%;
    float: left;
    margin: 5%;
    padding-bottom: 10px;
}
img{
    width: 100%;
}
#second-img{
    height: 450px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,coral,crimson);
    border-radius: 5px;
    color: white;
}
