body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;
}
.header{
    background-image: url(images/header-bg.png);
}
.highlight{
    color:crimson;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.half-width{
    width: 40%;
    float: left;
    margin: 5%;
    padding-bottom: 2%;
}
img{
    width: 100%;
}
#second-img{
    height: 450px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,coral,crimson);
    border-radius: 5px;
    color: white;
}
.thrice-width{
    width: 25%;
    float: left;
    margin: 2%;
    padding:2% ;
}
.footer{
    text-align: center;
    background-image: url(images/footer-bg.png);
}
.gmail-link{
    text-decoration: none;
    padding: 30px 60px;
    background-image: linear-gradient(45deg,coral,crimson);
    border-radius: 10px;
    color: white;
}
footer{
    text-align: center;
}
p{
    color: dimgray;
}